.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("/assets/images/login/background-login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .login-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;

    .login-btn {
      width: 12rem;
      height: 4rem;
      font-size: 32px;
      padding: 20px 40px;
    }
  }
}
